*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: $font-family_main;
  &::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: $font-family_main;
  }
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: $font-family_main;
  }
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

.main-container {
  position: relative;

  .pharmacy-img1 {
    position: absolute;
    height: 100vh;
    width: 100vw;
    width: 100%;
    // transform: translate(-50%);
    // right: -50%;
    top: 0;
    z-index: -1;
  }

  .pharmacy-img2 {
    position: absolute;
    width: 100vw;
    height: 115vh;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .red-wave {
    position: absolute;
    width: 100vw;
    transform: scaleX(-1);
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}
