$font-family_main: "Raleway", sans-serif;

// font-size
$fs-text: 1.6rem;
$fs-section-heading: 3.2rem;
$fs-heading: 2.4rem;

// gradients
$gradient-main: linear-gradient(258deg, #b42b51 -1.61%, #b43b2b 97.23%);

// spacing
$spacing-1: 0.8rem;
$spacing-2: 1.6rem;
$spacing-3: 2.4rem;
$spacing-4: 4rem;
$spacing-5: 6.4rem;

// borders
$br-small: 5px;
