.contact {
  max-width: $section-max-width;
  padding: 0 $spacing-3;
  margin: 0 auto;
  padding-top: calc(1.2 * $spacing-5);

  h2 {
    text-align: center;
    font-size: $fs-section-heading;
    color: #444;
    margin-bottom: $spacing-5;
  }

  .box {
    display: flex;
    border-radius: 8px;
    background-color: #dddddd;
    box-shadow: 0 0 15px #4444447e;
    height: 65vh;

    .map {
      width: 50%;

      iframe {
        width: 100%;
        height: 100%;
        border-radius: 8px 0 0 8px;
      }
    }
  }
}

.form-box {
  padding: 3.2rem 4.8rem;
  width: 50%;
  box-sizing: border-box;
  margin: auto;
}

.form {
  margin: 0 auto;

  &__group:not(:last-child) {
    margin-bottom: $spacing-2;
  }

  &__input {
    font-size: 1.5rem;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(#fff, 0.5);
    border: none;
    border-radius: 8px;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(#000, 0.1);
      border-bottom: 3px solid #74b816;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-main__variant;
    }

    &::-webkit-input-placeholder {
      color: #777;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(-8rem);
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  textarea {
    padding: 1.5rem 2rem 9rem;
    resize: none;
  }

  textarea + &__label {
    transform: translateY(-17.25rem);
  }

  textarea.form__input:placeholder-shown + &__label {
    transform: translateY(-14rem);
  }

  .send {
    border-radius: 10rem;
    border: none;
    padding: 1.8rem 2rem;
    background: linear-gradient(to top right, #b43b2b, #b42b51);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    width: 100%;
  }
}

@media (max-width: 1700px) {
  .contact {
    max-width: 100rem;
    padding: 0 $spacing-3;
    margin: 0 auto;
    padding-top: calc(1.2 * $spacing-5);
  }

  .form-box {
    padding: 3.2rem 4.8rem;
    width: 50%;
    box-sizing: border-box;
    margin: auto;
  }

  .form {
    margin: 0 auto;

    &__input {
      font-size: 1.4rem;
      padding: 1.2rem 1.6rem;
    }

    &__label {
      font-size: 1.2rem;
    }

    .send {
      font-size: 1.6rem;
      padding: 1.6rem 0;
    }
  }
}

@media (max-width: 1024px) {
  .contact {
    .box {
      margin: auto;
    }
  }

  .form-box {
    padding: 2rem 1.4rem;
    margin: 2rem;
  }
}

@media (max-width: 768px) {
  .contact {
    .box {
      flex-direction: column;
      height: auto;
      max-width: 90vw;
      .map {
        width: auto;
        height: 22.5vh;
        iframe {
          border-radius: 8px 8px 0 0;
        }
      }
    }
  }
  .form-box {
    width: auto;
    padding: 2rem 3.2rem;
    margin: 2rem;
  }

  .form {
    margin: 0 auto;

    &__group:not(:last-child) {
      margin-bottom: $spacing-1;
    }

    &__input {
      font-size: 1.2rem;
      padding: 1.2rem 1.6rem;
    }

    &__label {
      font-size: 1rem;
      transform: translateY(-7rem);
    }

    textarea + &__label {
      transform: translateY(-16.25rem);
    }

    .send {
      font-size: 1.6rem;
      padding: 1.6rem 0;
    }
  }
}

@media (max-width: 500px) {
  .form-box {
    width: auto;
    padding: 2rem 0;
    margin: 2rem;
  }
  .form {
    &__group:not(:last-child) {
      margin-bottom: 0.6rem;
    }
  }
}
