.intro {
  height: 100vh;
  max-width: 125rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-1 $section-padding-pc;

  @media (max-width: 1400px) {
    padding: $spacing-1 $section-padding-tab;
  }

  div {
    display: flex;
    // padding: 0 4rem;

    @media (max-width: 1024px) {
      padding: 0 2rem;
    }
    h1 {
      font-size: 4rem;
      color: #fff;
      align-self: baseline;
      animation: slide-left 0.5s ease-out;
    }

    .doctors {
      height: 50rem;
      animation: slide-right 0.5s ease-out;
    }
  }
}

@media (max-width: 1400px) {
  .intro {
    div {
      h1 {
        font-size: 3.6rem;
      }

      .doctors {
        height: 45rem;
      }
    }
  }
}

@media (max-width: 1200px) {
  .intro {
    div {
      h1 {
        font-size: 3.2rem;
      }

      .doctors {
        height: 42.5rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .intro {
    div {
      h1 {
        font-size: 3rem;
      }

      .doctors {
        height: 35rem;
      }
    }
  }
}

@media (max-width: 840px) {
  .intro {
    div {
      padding: 0 2rem;
      flex-direction: column;
      gap: 4.8rem;

      h1 {
        font-size: 3.2rem;
        max-width: 90vw;
        text-align: center;
        margin: 0 auto;
      }

      .doctors {
        height: 35rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .intro {
    div {
      // padding: 0 2rem;
      flex-direction: column;
      gap: 5.6rem;
      margin-bottom: 10rem;

      h1 {
        font-size: 2.2rem;
        padding: 0 1.8rem;
        max-width: max-content;
      }

      .doctors {
        height: 28.5rem;
        margin-left: 5rem;
      }
    }
  }
}

@media (max-width: 420px) {
  .intro {
    div {
      padding: 0 1rem;

      h1 {
        font-size: 2rem;
        padding: 0 1.4rem;
        max-width: max-content;
      }

      .doctors {
        height: 22.5rem;
        margin-left: 5rem;
      }
    }
  }
}
