.qp {
  max-width: 120rem;
  margin: 0 auto;
  margin-bottom: 12rem;

  &__title {
    font-size: $fs-section-heading;
    text-align: center;
    color: #444;
    margin-bottom: $spacing-5;
  }

  &-part1 {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 6rem;

    &__img-container {
      width: 100%;
    }

    &__img {
      width: 100%;
    }

    &__text-container {
      display: flex;
      flex-direction: column;
      line-height: 23px;
      width: 130%;
    }

    &__text {
      position: relative;
      font-size: $fs-text;
      text-align: end;
      border-right: 5px solid #b42b51;

      padding-right: 2rem;
      padding-bottom: 2.5rem;
    }

    &__text:last-child {
      font-size: $fs-text;
      border-right: 5px solid transparent;
    }

    &__text::after {
      position: absolute;
      content: "";
      top: 0;
      right: -1.19rem;
      width: 1rem;
      height: 1rem;
      border: 4px solid #b42b51;
      border-radius: 50%;
      background-color: #fff;
      z-index: 100;
    }
  }

  &-part2 {
    display: flex;
    align-items: center;
    gap: 2rem;

    &__img-container {
      width: 100%;
    }

    &__img {
      width: 100%;
    }

    &__text-container {
      display: flex;
      flex-direction: column;
      line-height: 23px;
      width: 120%;
    }

    &__text {
      position: relative;
      font-size: $fs-text;
      border-left: 5px solid #b42b51;

      padding-left: 2rem;
      padding-bottom: 2.5rem;
    }

    &__text:last-child {
      font-size: $fs-text;
      border-left: 5px solid transparent;
    }

    &__text::after {
      position: absolute;
      content: "";
      top: 0;
      left: -1.19rem;
      width: 1rem;
      height: 1rem;
      border: 4px solid #b42b51;
      border-radius: 50%;
      background-color: #fff;
      z-index: 100;
    }
  }
}
